<div class="container">
    <div class="logo">
        <img src="../assets/images/uwin_logo.jpg">
      </div>
    <h1>Windsor - Billiboard</h1>
    
      <agm-map 
         [latitude]='lat' 
         [longitude]='long'
         [zoom]='zoom'
         >
          
          <agm-marker 
              *ngFor="let marker of markers" 
              [latitude]="marker.lat" 
                [longitude]="marker.lng">    
                    <agm-info-window #infoWindow>
                        {{ marker.label }}
                  </agm-info-window>
          </agm-marker>
          
      </agm-map>
    
  </div>